extends layout

block content
  .welcome.text-center
    h2
      b Welcome to
  .text-center
    h1.brand-name Coffee Shop
    hr.tagline-divider
    img.logo.col-lg-4.block-center(src="http://www.clker.com/cliparts/1/c/1/S/m/c/coffee-bean.svg" alt="http://www.clker.com/cliparts/1/c/1/S/m/c/coffee-bean.svg")
    hr.main-divider
    
